<html lang="en">
<head>
    <link rel='stylesheet' href= styles3.CSS >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head> 

  <body>
    {% extends "base.html" %}

    {% block body %}
    
    <div class="topnav">
        {% if session.logged_in %}
            <a href="/
            logout/">Logout</a>
        {% else %}
            <a href="login.html">Login</a>
            <a href="register.html">Sign up</a>
        {% endif %}
    </div>
    <hr>
    
    {% if session['logged_in'] %}
        <h5>Welcome, {{session['username'] }}</h5>
    {% endif %}
    
    {% endblock body %}

  <header>  
<nav>  
<ul>  
<li>  
<a href="index.html"> Home </a>  
</li>  
<li>  
<a href="linux distrbutrion.html">Linux </a>  
</li>  
<li>  
<a href="login.html"> Contact </a>  
</li>  
<li> <a href="register.html"> Terms of use </a>  
</li>  
<li>  
<a href="#">about</a>  
</li>  
</ul>  
</nav>  
</header>  
You are at JavaTpoint Site.....

</body>